$color:(
    primary:#705B6E,
    secondary:#FFFFFF,
    light:lighten(#705B6E, 40%),
    dark:darken(#705B6E, 80%),
    

);
@function color($color-name){
    @return map-get($map: $color, $key:$color-name )
        
}
body, html{
background-color: color(primary);
#nav{
    background:color(primary);
    header{
        text-transform: uppercase;
        text-decoration-color: color(secondary);
    }
    ul{
        display: flex;
        list-style: none;
        li{
            padding: 20px;
        }
    }
}

}
main{
 #bg{
     background-color: color(secondary);
     height: 100px;
     text-align: center;
 }   
}